%ul.media-list
  - microposts.each do |micropost|
    - writer = micropost.user
    %li.media
      .media-left
        %img.media-object.img-rounded{alt: "", src: "#{gravatar_url(writer, options = {size: 50})}"}
      .media-body
        %div
          = link_to writer.name, user_path(writer)
          %span.text-muted<
            posted at #{I18n.l micropost.created_at, format: '%Y/%m/%d'}
        %div
          %p= micropost.content
        %div
          = render 'favorites/favorite_button', micropost: micropost
          - if current_user == writer
            = link_to "Delete", micropost, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs'
  = paginate microposts
